.card{
    border:2px solid white;
    border-radius: 10px;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.buy{
    width:85px;
    height:35px;
    font-weight: bold;
    border-radius: 7px;
    border: 4px solid rgb(84, 83, 83);
    color: rgb(201, 4, 4);
    background-color: silver;
}
.buy:hover{
    border:2px solid rgb(227, 6, 6);
    transform: scale(1.1);
}